.navbar-logo {
  width: 150px;
  height: auto;
}
.career-navbar {
  background-color: #4f46e5;
}
.career-navbar button {
  background-color: white;
  color: #4f46e5;
  border: none;
}
.career-navbar a {
  color: white;
}
